<choice-menu background="sti_menu.jpg">
  <choice-btn link-class="herpes" btn-class="stiCauseBtn" choice="{{ choicePrefix + '1a' }}"></choice-btn>
  <choice-btn link-class="gonorrhea" btn-class="stiCauseBtn" choice="{{ choicePrefix + '2a' }}"></choice-btn>
  <choice-btn link-class="chlamydia" btn-class="stiCauseBtn" choice="{{ choicePrefix + '3a' }}"></choice-btn>
  <choice-btn link-class="trichomoniasis" btn-class="stiCauseBtn" choice="{{ choicePrefix + '4a' }}"></choice-btn>
  <choice-btn link-class="hepatitis" btn-class="stiCauseBtn" choice="{{ choicePrefix + '5a' }}"></choice-btn>
  <choice-btn link-class="syphilis" btn-class="stiCauseBtn" choice="{{ choicePrefix + '6a' }}"></choice-btn>
  <choice-btn link-class="hpv" btn-class="stiCauseBtn" choice="{{ choicePrefix + '7a' }}"></choice-btn>
  <choice-btn link-class="hiv" btn-class="stiCauseBtn" choice="{{ choicePrefix + '8a' }}"></choice-btn>
  <choice-btn link-class="goBack" btn-class="stiCauseBtn" section="stimain"></choice-btn>
</choice-menu>

