<ion-pane class="">
  <ion-content scroll='false' has-bouncing='false' class="login ">
    <div class="access-container">
      <div class="padding">
        <button ng-click="login()" class="login-btn button">
          LOGIN
        </button>
      </div>

      <div class="padding">
        <button ng-click="register()" class="register-btn button button-block">
          REGISTER
        </button>
      </div>

      <div class="padding">
        <button ng-click="preview()" class="register-btn button button-block">
          PREVIEW
        </button>
      </div>
    </div>
  </ion-content>
</ion-pane>
