<ion-view title="Bonfire" hide-nav-bar="true">
  <menu-btn></menu-btn>
  <ion-content>
    <div ng-controller="SectionCtrl as vm">
      <choice-menu background="bonfire.jpg">
        <choice-btn link-class="eva" btn-class="bonfire-button" section="eva"></choice-btn>
        <choice-btn link-class="hailey" btn-class="bonfire-button" section="hailey"></choice-btn>
        <choice-btn link-class="isabel" btn-class="bonfire-button" section="isabel"></choice-btn>
        <choice-btn link-class="lauren" btn-class="bonfire-button" section="lauren"></choice-btn>
        <choice-btn link-class="maya" btn-class="bonfire-button" section="maya"></choice-btn>
        <choice-btn link-class="nicki" btn-class="bonfire-button" section="nicki"></choice-btn>
      </choice-menu>
    </div>
  </ion-content>
</ion-view>