<ion-view title="Start" class="anim-in-out anim-fade" data-anim-in-speed="1000" data-anim-sync="true" hide-nav-bar="true">
  <menu-btn></menu-btn>
  <ion-content>
    <div ng-controller="SectionCtrl as vm">
      <div ng-switch on="vm.positionInTime.type">
        <div ng-switch-when="mp4">
          <video-player></video-player>
        </div>
      </div>
      <div ng-switch on="vm.positionInTime.value">
        <choice-menu-cog-btn background="opencog1.jpg" ng-switch-when="opencog1.html"></choice-menu-cog-btn>
        <choice-menu-cog-btn link-class="openCog2" background="opencog2.jpg" ng-switch-when="open2.html"></choice-menu-cog-btn>
        <choice-menu-cog-btn link-class="openCog3" background="opencog3.jpg" ng-switch-when="open3.html"></choice-menu-cog-btn>
      </div>
    </div>
  </ion-content>
</ion-view>
