<ion-view title="Password Reset" class="anim-in-out anim-fade" data-anim-in-speed="1000" data-anim-sync="true" hide-nav-bar="true">
  <menu-btn btn-class="menu-btn--dark"></menu-btn>
  <ion-content class="login-view">
    <div class="row">
      <div class="col"></div>
      <div class="col col-75">
        <h1>Password Reset</h1>
        <form name="reset-password-form" class="login-form" data-ng-submit="resetPassword(creds)" >
          <div class="list">

            <label class="item item-input {'has-error' : identical === false}">
                <input type="password" id="password" name="password" placeholder="Enter New Password"
                       data-ng-model="creds.password" class="form-control"
                       data-ng-keyup="verifyPassword(creds)" >
            </label>

            <label class="item item-input {'has-error' : identical === false}">
                <input type="password" id="verify-password" name="verify-password" placeholder="Verify New Password"
                       data-ng-model="creds.password_confirmation" class="form-control"
                       data-ng-keyup="verifyPassword(creds)" >
            </label>

            <label>
                <input class="button button-positive submit-button" id="submit-password-reset" type="submit" value="Reset Password">
            </label>

            <div data-ng-controller="MessageCtrl" class="message-section">
                <label data-ng-if="currentError">
                    <div class="alert alert-danger alert-dismissable">
                        {{currentError}}
                        <button class="close icon ion-ios7-close" data-ng-click="clearError()"></button>
                    </div>
                </label>
                <label data-ng-if="currentInfo">
                    <div class="info">
                        {{currentInfo}}
                        <button class="close icon ion-ios7-close" data-ng-click="clearInfo()"></button>
                    </div>
                </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
